---
sitemap:
  exclude: 'yes'
---

$color_black:#141414;
$color_white:#fbfbf8;
$color_lg:#F2F2F2;
$color_latte:#FFF8E7;
$color_ballet:#F0B293;

@mixin transition($transition...) {
  -webkit-transition:$transition;
     -moz-transition:$transition;
      -ms-transition:$transition;
          transition:$transition;
}
@mixin box-sizing($box-sizing...) {
  -webkit-box-sizing:$box-sizing;
     -moz-box-sizing:$box-sizing;
      -ms-box-sizing:$box-sizing;
          box-sizing:$box-sizing;
}
@mixin transform($transform...) {
  	-webkit-transform:$transform;
				-ms-transform:$transform;
						transform:$transform;
}

html,
body {
	width:100%;
	background:$color_white;
	color:$color_black;
	font-size:20px;
	font-family:'Helvetica','Arial',sans-serif;
	font-weight:normal;
	line-height:1.6em;
	letter-spacing:0.05rem;
	margin:0;
	overscroll-behavior: none;
	-webkit-text-size-adjust:100%;
	}
body {
	float:left;
	overflow-x:hidden;
	@include box-sizing(border-box);
	}

span.b {
	font-weight:bold;
	}
span.u {
	text-transform:uppercase;
	}

.container#log,
#title-container {
	float:left;
	width:100%;
	padding-left:120px;
	@include box-sizing(border-box);
	}

#title-container {
	z-index:1000;
	opacity:1;
	visibility:visible;
	padding-top:60px;
	}
#title-container ul {
	font-size:0.65rem;
  line-height:1rem;
	list-style-type:none;
	margin:0;
	padding:0;
	}
#title-container ul li {
	float:left;
	width:100%;
	}
#title-container ul li a {
	text-decoration:none;
	}
#title-container ul li a span {
	color:$color_black;
	line-height:1rem;
	}
#title-container ul li a:hover span {
	background:$color_black;
	color:$color_white;
	}


/* 	------------------------------------
		IMAGES
   	------------------------------------ */

$slide-width:800px;

body * { -webkit-user-select: none }

.container#log {
	opacity:0;
	padding-bottom:90px;
	-webkit-transform: translate3d(0, 0, 0);
	@include transition(opacity 240ms ease);
	}
.container#log.show {
	opacity:1;
	}

.container#log .post {
	float:left;
	color:$color_black;
	width:100%;
	padding:2rem 0;
	}

.container#log .post .slide {
	float:left;
	width:$slide-width;
	height:auto;
	overflow:hidden;
	padding:2rem 0 0;
	}

.container#log .post .slide img {
	float:left;
	display:block;
	width:100%;
	height:auto;
	margin:0 auto;
	box-shadow:2px 2px 20px rgba(255, 255, 255, 0.25);
	}

.container#log .post .post-text {
	float:left;
	color:$color_black;
	width:100%;
	margin:0;
	padding:0;
	}

.container#log .post-text span {
	float:left;
	width:100%;
	}
.container#log .post-text span.content {
	font-size:0.65rem;
	text-transform:uppercase;
  line-height:1rem;
  padding:0.5rem 0 0;
	}

/* 	====================================
		LAYOUT: 404
   	==================================== */

#_404 p,
#_404 p a {
	color:$color_lg;
	font-size:0.75rem;
	text-align:center;
	margin-top:120px;
	text-decoration:none;
	}
#_404 p a {
	padding-bottom:1px;
	border-bottom:1px solid $color_lg;
	}
#_404 p a:hover {
	background:$color_ballet;
	}

/* 	====================================
		BREAK POINTS
   	==================================== */

@media (max-width: 900px) {

	.container#log,
	#title-container {
		padding-left:20px;
	}

	.container#log .post .slide {
		width:100%;
		width:calc(100% - 20px);
	}
}

/* 	====================================
		LOADING ANIMATION
   	==================================== */

#loading-animation {
	z-index:10000;
	display:block;
	visibility:visible;
	position:fixed;
	top:200px;
  top:calc(100vh / 4);
  left:50%;
  left:calc(50% - 20px);
}
#loading-animation.hide {
	display:none;
	visibility:hidden;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color_ballet;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

