---
sitemap:
  exclude: 'yes'
---

$color_black:#111;
$color_lg:#f2f2f2;

@mixin transition($transition...) {
  -webkit-transition:$transition;
     -moz-transition:$transition;
      -ms-transition:$transition;
          transition:$transition;
}
@mixin box-sizing($box-sizing...) {
  -webkit-box-sizing:$box-sizing;
     -moz-box-sizing:$box-sizing;
      -ms-box-sizing:$box-sizing;
          box-sizing:$box-sizing;
}

html,
body {
	width:100%;
	color:$color_black;
	font-size:20px;
	font-family:'Helvetica','Arial',sans-serif;
	font-weight:normal;
	line-height:1.6em;
	letter-spacing:0.05rem;
	margin:0;
	overscroll-behavior: none;
	-webkit-text-size-adjust:100%;
	}
body {
	float:left;
	min-height:100vh;
	padding:0.25rem;
	border-left:20px solid #FFF8E7;
	border-right:20px solid #FFF8E7;
	@include box-sizing(border-box);
}

#nav {
	width:480px;
	height:120px;
	padding-left:120px;
	}

#nav a {
	color:$color_black;
	}

#nav .header-anno {
	float:left;
	width:100%;
	text-align:center;
	padding:0.125rem 0;
	@include box-sizing(border-box);
	}
#nav .header-anno#title {
	margin-top:20px;
	}
#nav .header-anno#subtitle {
	font-size:0.5rem;
	text-transform:uppercase;
	border-top:1px solid $color_lg;
	}

.container#log {
	opacity:0;
	float:left;
	width:90%;
	width:calc(100% - 0.25rem);
	margin-left:0.125rem;
	margin-bottom:0.25rem;
	@include transition(opacity 240ms ease);
	}
.container#log.show {
	opacity:1;
	}

.img-holder {
	float:left;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:45vw;
	border:0.25rem solid #fff;
	overflow:hidden;
	@include box-sizing(border-box);
	}

.img-holder._4-5._30._v {
	width:30%;
	height:37vw;
}
.img-holder._4-5._33._v {
	width:33%;
	width:calc(100% / 3);
	height:41vw;
}
.img-holder._4-5._35._v {
	width:35%;
	height:43vw;
}
.img-holder._4-5._40._v {
	width:40%;
	height:50vw;
}
.img-holder._4-5._50._v {
	width:50%;
	height:62vw;
}
.img-holder._2-3._40._h {
	width:40%;
	height:26vw;
}
.img-holder._2-3._50._h {
	width:50%;
	height:33vw;
}
.img-holder._2-3._60._h {
	width:60%;
	height:40vw;
}
.img-holder._2-3._65._h {
	width:65%;
	height:43vw;
}
.img-holder._2-3._70._h {
	width:70%;
	height:46vw;
}

/* 	------------------------------------
		LOADING ANIMATION
   	------------------------------------ */

#loading-animation {
	z-index:10000;
	display:block;
	visibility:visible;
	position:fixed;
	top:200px;
  top:calc(100vh / 4);
  left:50%;
  left:calc(50% - 20px);
}
#loading-animation.hide {
	display:none;
	visibility:hidden;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color_lg;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

