{% include header.html %}
{% include nav.html %}
{% include data_posts.html %}
<div id="log" class="container">
	{% assign i = 0 %}
	{% for post in site.posts %}
		<div class='wrap' id='_{{ i }}'>
			<div class='window'>
				<div class='carousel'>
					{% assign j = 0 %}
					{% for img in post.images %}
						<div class='slide' id='_{{ i }}_{{ j }}'>
							<img class='tile' src='{{ site.baseurl }}/photos/{{ img.ext }}'>
						</div>
						{% assign j = j | plus:1 %}
					{% endfor %}
				</div>
			</div>
			{% if post.images.size >1 %}
				<div class='arr prev'></div>
				<div class='arr next'></div>
			{% endif %}
		</div>
		<div class='post-text'>
			<span class='title'>{{ post.title }}</span>
			<span class='content'>{{ post.content }}</span>
		</div>
		{% assign i = i | plus:1 %}
	{% endfor %}
</div>
{% include loading-animation.html %}
<script src='/log/js/layouts/carousel.js'></script>
<script src='/log/js/logic/imagesLoaded.js'></script>
{% include footer.html %}