{% include header.html %}
{% include nav.html %}
<div id="log" class="container">
	{% for post in site.posts %}
		<div class='post'>
			{% for img in post.images %}
				<div class='slide'>
						<img class='tile' src='{{ site.baseurl }}/photos/{{ img.ext }}'>
				</div>
			{% endfor %}
			<div class='post-text'>
				<span class='content'>{{ post.date | date: "%Y/%m/%d" }}</span>
			</div>
		</div>
		{% assign i = i | plus:1 %}
	{% endfor %}
</div>
{% include loading-animation.html %}
<script src='/log/js/logic/imagesLoaded.js'></script>
{% include footer.html %}